
<div class="event_warapper" >
  <div class="events" >
    <div id="demo" class="carousel slide" data-ride="carousel" >
      <ul class="carousel-indicators" *ngFor="let eventsGal of eventsGallery">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner" *ngFor="let eventsGal of eventsGallery">
        <div class="carousel-item active">
          <img [src]=eventsGal.img alt="Los Angeles" width="1100" height="500">
          <div class="carousel-caption">
            <h3>{{eventsGal.title}}</h3>
            <p>{{eventsGal.desc}}</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
